
{
  "id": "{{service.group}}",
  "apps": [
    {
      "id": "{{service.name}}",
      "cpus": {{elastic.cpus}},
      "mem":  {{elastic.mem}},
      {{#elastic.cluster}}
      "instances": {{elastic.instances}},
      {{/elastic.cluster}}
      {{^elastic.cluster}}
      "instances": 1,
      {{/elastic.cluster}}
      "env": {
        "ES_JAVA_OPTS": "{{elastic.jvm}}",
        {{#elastic.cluster}}
        "discovery.zen.ping.unicast.hosts": "{{elastic.endpoint}}",
        "discovery.zen.minimum_master_nodes": "{{elastic.coherence}}",
        "cluster.name": "{{elastic.cluster_name}}"
        {{/elastic.cluster}}
        {{^elastic.cluster}}
        "discovery.type": "single-node"
        {{/elastic.cluster}}
      },
      "networks": [
          {
          "mode": "container",
          "name": "dcos"
          }
      ], 
      "container": {
          "type": "DOCKER",
          "portMappings": [
              { "protocol": "tcp", "hostPort": 0, "containerPort": 9200 }
          ],
          "docker": {
              "image": "{{resource.assets.container.docker.elastic}}:{{service.version}}",
              "forcePullImage": false
          }
      },
      "healthChecks": [
        {
          "portIndex": 0,
          "protocol": "MESOS_TCP",
          "gracePeriodSeconds": 30,
          "intervalSeconds": 60,
          "timeoutSeconds": 20,
          "maxConsecutiveFailures": 3
        }
      ],
      "labels": {
        "HAPROXY_GROUP":"external",
        "HAPROXY_0_VHOST":"{{networking.virtual-host-elastic}}",
        "HAPROXY_0_REDIRECT_TO_HTTPS": "{{networking.https-redirect}}",
        "HAPROXY_0_ENABLED":"true",
        "HAPROXY_0_FRONTEND_HEAD":"",
        "HAPROXY_0_FRONTEND_BACKEND_GLUE":"",
        {{#networking.whitelist.enable}}
        "HAPROXY_0_BACKEND_NETWORK_ALLOWED_ACL": "{{networking.whitelist.ip}}",
        {{/networking.whitelist.enable}}
        "ONYXIA_PRIVATE_ENDPOINT": "http://{{elastic.endpoint}}:9200",
        "MARATHON_SINGLE_INSTANCE_APP": "true"
      },
      "upgradeStrategy":{
        "minimumHealthCapacity": 0,
        "maximumOverCapacity": 0
      }
    },
     {
      "id": "{{kibana.name}}",
      "cpus": {{kibana.cpus}},
      "mem":  {{kibana.mem}},
      "instances": 1,
      "env": {
        "ELASTICSEARCH_URL": "https://{{networking.virtual-host-elastic}}:443",
        "ELASTICSEARCH_HOSTS": "https://{{networking.virtual-host-elastic}}:443"
      },
      "container": {
          "type": "DOCKER",
          "docker": {
              "image": "{{resource.assets.container.docker.kibana}}:{{service.version}}",
              "network": "BRIDGE",
              "portMappings": [
                  { "containerPort": 5601, "hostPort": 0 }
              ]
          }
      },
      "healthChecks": [
        {
          "portIndex": 0,
          "protocol": "MESOS_TCP",
          "gracePeriodSeconds": 30,
          "intervalSeconds": 60,
          "timeoutSeconds": 20,
          "maxConsecutiveFailures": 3
        }
      ],
      "labels": {
        "HAPROXY_GROUP":"external",
        "HAPROXY_0_VHOST":"{{networking.virtual-host-kibana}}",
        "HAPROXY_0_REDIRECT_TO_HTTPS": "{{networking.https-redirect}}",
        "HAPROXY_0_ENABLED":"true",
        "HAPROXY_0_FRONTEND_HEAD":"",
        "HAPROXY_0_FRONTEND_BACKEND_GLUE":"",
        {{#networking.whitelist.enable}}
        "HAPROXY_0_BACKEND_NETWORK_ALLOWED_ACL": "{{networking.whitelist.ip}}",
        {{/networking.whitelist.enable}}
        "MARATHON_SINGLE_INSTANCE_APP": "true"
      },
      "upgradeStrategy":{
        "minimumHealthCapacity": 0,
        "maximumOverCapacity": 0
      }
    }


  ]
}
